.breadcrumbs {
    padding: 5rem 0 1rem;
    a {
        color: $c-two;
        text-decoration: none;
        transition: $transition;
        &:hover {
            color: $c-one;
        }
    }
    .separator {
        padding: 0;
    }
}