.title {
    padding: 6rem 0;
    @include breakpoint(tablet) {
        padding: 3rem 0;
    }
    h2 {
        margin-bottom: 0;
    }
    @include breakpoint(tablet) {
        padding: 3rem 0;
    }
}